/* Reset */
body{font-size:62.5%;font-family:verdana,helvetica,arial,sans-serif;line-height:1;text-shadow:0 0 0 #000}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,p,blockquote,th,td,hr{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
caption{text-align:left;font-weight:normal}
th{text-align:left}
cite,address{font-style:normal}
ol,ul{list-style:none}
sub,sup{line-height:2}
img{border:none}
pre,code{font-size:1.2em}
fieldset{border:0}
q:before,q:after{content:''}

/* Layout */
body{background:#eaeaea}
#container {width:974px;margin:0 auto;border-left:10px solid #fff;border-right:10px solid #fff;min-height:800px;}


/* Mast Head */
#mast_head {width:974px;background:#192dc2 url('./f/banner.jpg') no-repeat;position:relative;border-bottom:1px solid #fff;}
#mast_head h1 {position:absolute;left:0px;top:0px;font-size:2.5em;height:100px;line-height:100px;width:290px;}
#mast_head h1 a span {position:absolute;top:-1000px;}
#mast_head h1 a,
#mast_head h1 a:hover,
#mast_head h1 a:focus {color:#000;text-decoration:none;display:block;width:100%;height:100px;position:relative;z-index:100;}

/* Search Form */
#search_form {position:relative;height:100px;top:16px;left:59px;}
#search_form.errors {height:120px;}

#search_form h2 {font-size:1.4em;width:280px;position:absolute;left:10px;top:-3px;line-height:80px;height:80px;text-align:right;}
#searchFieldLabel {position:absolute;top:-1000px;}

#searchField {position:absolute;left:310px;top:31px;width:275px;font-size:1.4em;padding:0 1px;border:none;}
#search_form .info {font-weight:bold;color:#e4e6f8;position:absolute;left:300px;top:55px;line-height:1.2em;text-align:center;}

#search_form .error {position:absolute;left:-59px;bottom:8px;height:30px;color:#fff;text-align:left;background:red url('./f/search_error.jpg') no-repeat;border-top:1px solid #fff;border-bottom:1px solid #fff;width:924px;padding-left:50px;line-height:30px;font-weight:bold;font-size:1.2em;}

#search {padding-left:3px;position:absolute;left:593px;top:24px;width:68px;height:30px;line-height:30px;font-size:1.4em;background:#192dc2 url('./f/search_button.jpg') no-repeat;color:#fff;border:none;cursor:pointer;}
#search:hover,
#search:focus {background-image:url('./f/search_button_hover.jpg');}

/* Content */
#content_wrapper {background-color:#DBDBDB;min-height:600px;padding:10px;}
#content {background:#fff;padding:10px;margin:0;}
#content h2 {font-size:1.8em;border-bottom:1px solid #999;padding:0 0 10px 0;margin:0 0 10px 0;}

/* Search results */
#search_results {list-style:none;}
#search_results .result {height:40px;border-bottom:1px solid #ccc;position:relative;}
#search_results .result h3 {height:40px;line-height:40px;font-size:1.3em;position:absolute;left:50px;top:0;}
#search_results .result h3 a {text-decoration:none;color:#000;}
#search_results .result h3 a:hover {text-decoration:underline;}
#search_results .result .party {padding:0;margin:0;position:absolute;left:0;top:0;}

/* Auto complete */
#autoCompleteResults {width:288px;left:305px;top:52px;position:absolute;z-index:80;}
#autoCompleteResults .result {height:40px;line-height:40px;font-size:1.2em;font-weight:bold;text-indent:5px;background:#fff;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
#autoCompleteResults .selected {background:#ececec;}


